[client]
# Evitar problemas com caracteres especiais/acentos configurando um encoding padrão
default-character-set=utf8

[mysql]
# Evitar problemas com caracteres especiais/acentos configurando um encoding padrão
default-character-set=utf8

[mysqld]
default_authentication_plugin=mysql_native_password
log_bin_trust_function_creators = 1
max_connections=10000
innodb_buffer_pool_size=4G
performance_schema = 0
expire_logs_days  = 1

# Colocar na memória
datadir=/var/lib/mysql

# socket=/var/lib/mysql/mysql.sock

# Escutar todas interfaces. Quando não é configurado, 0.0.0.0 já é o padrão
# bind-address=0.0.0.0

# port=3306

# symbolic-links=0

# Desabilitar o modo estrito
sql_mode=''

# explicit_defaults_for_timestamp=1

# Evitar problemas com caracteres especiais/acentos configurando um encoding padrão
collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8

# Evitar erro "MySQL has gone away"
max_allowed_packet=64M

# Corrigir hora do banco
default-time-zone='-03:00'

[mysqld_safe]

# log-error=/var/log/mysqld.log
# pid-file=/var/run/mysqld/mysqld.pid
